a {
  color: black;
}
a:hover {
	color: green
}

button.btn-success {
	background-color: white;
	border-color: black;
	color: black;
	background-image: none;
	border-radius: 0;

}
.dropdown-item:hover, .dropdown-item:focus{
	background-color: gray;
}